PORT=3000
HOST=0.0.0.0
JWT_SECRET=supersecretgoeshere

# github oauth app credentials
CLIENT_ID=clientidgoeshere
CLIENT_SECRET=clientsecretgoeshere

CALLBACK_URI=https://localhost:8443/api/auth/github/callback

DB_API_KEY=apikeygoeshere
DB_SERVICE_URL=http://db-service:3001
