PORT=3000
HOST=0.0.0.0
JWT_SECRET=supersecretgoeshere

# github oauth app credentials
CLIENT_ID=clientidgoeshere
CLIENT_SECRET=clientsecretgoeshere

# NO PONGAIS ESTA POR AHORA TENGO QUE MIRAR COSAS
DB_API_KEY=apikeygoeshere
