@import "tailwindcss";

:root {
	--color_background_1: hsl(0, 0%, 95%);
	--color_background_2: hsl(0, 0%, 90%);
	--color_accent_1: hsl(0, 0%, 10%);
	--color_accent_2: hsl(0, 0%, 20%);
	--color_accent_3: hsl(0, 0%, 50%);
	--color_accent_danger: hsl(0, 95%, 43%);
	--color_accent_success: hsl(121, 92%, 31%);
	--color_accent_link_unvisited: hsl(228, 87%, 39%);
	--color_accent_link_visited: hsl(250, 86%, 22%);
}

@media (prefers-color-scheme: dark) {:root {
	--color_background_1: hsl(0, 0%, 15%);
	--color_background_2: hsl(0, 0%, 20%);
	--color_accent_1: hsl(0, 0%, 100%);
	--color_accent_2: hsl(0, 0%, 90%);
	--color_accent_3: hsl(0, 0%, 50%);
}}

body {
	background-color: var(--color_background_1);
	color: var(--color_accent_1);
}

